<% layout('./layout') %>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
<script type="text/javascript" src="/assets/moment.min.js"></script>
<script type="text/javascript" src="/assets/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="/assets/bootstrap-datetimepicker.min.css" />
<script src="/assets/inv.js"></script>
<% include ./menu %>
<div class="container">
    <div class="col-md-10 col-md-offset-1" style="text-align:center;">
        <h1 class="h2">開立發票</h1>
        <form class="form-inline searchform">
            起始日期
            <div class="form-group">
                <div class='input-group date' id='datetimepickertf'>
                    <input type='text' class="form-control" id="tf" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            &nbsp;&nbsp;&nbsp; 結束日期
            <div class="form-group">
                <div class='input-group date' id='datetimepickertt'>
                    <input type='text' class="form-control" id="tt" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <div id="geninv">
        <div class="col-md-10 col-md-offset-1" style="text-align:center;">
            <form class="form-inline searchform">
                <div class="form-group">
                    <label>開立發票商品名稱:</label>
                    <input type='text' class="form-control" id="invitemname" />
                </div>
                <div class="col-md-10 col-md-offset-1" style="margin-top:30px;text-align:center;">
                    <div v-if="loading == 0" v-on:click="search" class="btn btn-primary">查詢</div>
                    <div v-on:click="setting" class="btn btn-primary">修改金鑰</div>
                </div>
            </form>
        </div>
        <div class="col-md-12" style="padding-top:10px;">
            <div class="col-md-1 col-md-offset-5" style="text-align:center;">
                <div class="form-group">
                    <select v-if="loading == 0 && orderlist.length > 0" v-model="page" class="form-control">
                        <option v-for="n in pageAmt">{{n}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-3" style="text-align:center;">
                <div v-if="loading == 0 && checkAmt > 0" v-on:click="allSelectGenInvoice" class="btn btn-primary" style="margin-bottom:10px;">已選訂單全部開立</div>
                <div v-if="loading == 0 && orderlist.length > 0" v-on:click="allDateGenInvoice" class="btn btn-primary" style="margin-bottom:10px;">已選日期區間全部開立</div>
            </div>
            <table class="table table-hover table-bordered ordertable">
                <thead>
                    <tr>
                        <th>
                            <input v-on:click="selectAll" type="checkbox" v-model="hasSelectAll">
                        </th>
                        <th>訂單編號</th>
                        <th>更新時間</th>
                        <th>訂單狀態</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <template v-if="loading == 1">
                        <tr>
                            <td class="text-center" colspan="5">資料讀取中</td>
                        </tr>
                    </template>
                    <template v-else>
                        <template v-if="orderlist.length != 0">
                            <template  v-for="order in orderlist">
                                <tr v-if="order.order_status == 'COMPLETED'">
                                    <td class="text-center"><input v-if="invoiceList.indexOf(order.ordersn) == -1" type="checkbox" v-bind:value="order.ordersn" v-model="ordersCheck"></td>
                                    <td class="text-center">{{ order.ordersn }}</td>
                                    <td class="text-center">{{ order.update_time | time }}</td>
                                    <td class="text-center">完成</td>
                                    <td>
                                        <div v-if="invoiceList.indexOf(order.ordersn) == -1" class="btn btn-primary" v-on:click="genInvoice(order.ordersn)">開立發票</div>
                                        <div class="btn btn-primary" v-on:click="showDetail(order.ordersn)">詳細資料</div>
                                    </td>
                                </tr>
                            </template>
                        </template>
                        <template v-else>
                            <tr>
                                <td colspan="5" class="text-center">查無資料</td>
                            </tr>
                        </template>
                    </template>
                </tbody>
            </table>
            <div v-if="loading == 1" class="text-center" style="display:none;">資料讀取中</div>
            <div class="col-md-1 col-md-offset-5" style="margin-bottom:50px;">
                <div class="form-group">
                    <select v-if="loading == 0 && orderlist.length > 0" v-model="page" class="form-control">
                        <option v-for="n in pageAmt">{{n}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="orderDetail" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">訂單資料</h4>
            </div>
            <div v-if="show" class="modal-body">
                <p>成立時間 : {{ order.create_time | time }}</p><br>
                <p>訂購人 : {{ order.recipient_address.name }}</p><br>
                <p>手機 : {{ order.recipient_address.phone }}</p><br>
                <p>訂單編號 : {{ order.ordersn }}</p><br>
                <p>銷售額(未稅) : {{Math.round(order.total_amount / 1.05)}}</p><br>
                <p>發票稅額 : {{ Math.round(order.total_amount - (order.total_amount / 1.05)) }}</p><br>
                <p>發票總金額(商品價格+運費) : {{ order.total_amount }}</p><br>
                <p>運費：{{ order.estimated_shipping_fee }}</p><br>
                <p>實際支付運費：{{ order.actual_shipping_cost }}</p>
                <hr>
                <template v-for="item in order.items">
                    <p>商品名稱：{{ item.item_name.split(" ")[0] }}</p>
                    <p>商品單價(折扣後)：{{ item.variation_discounted_price }}</p>
                    <p>商品銷售數量：{{ item.variation_quantity_purchased }}</p><br>
                </template>
            </div>
            <div class="modal-footer">
                <div class="btn btn-default" data-dismiss="modal">關閉</div>
            </div>
        </div>
    </div>
</div>

<div id="settingForm" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">金鑰設定</h4>
            </div>
            <div class="modal-body">
                <div style="color:red;">更改後請按儲存</div>
                <br>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">蝦皮Secret</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="shopeesecret">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">蝦皮Shopid</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="shopeeshopid">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">蝦皮Partnerid</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="shopeepartnerid">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">智付寶商店代號</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="paytwogoid">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">智付寶HashKEY</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="paytwogohashkey">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">智付寶IV</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="paytwogohashiv">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">通知開立發票Email</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="invemail">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">正式API</label>
                        <select class="form-control" style="width: 50px;" id="isProduction">
                            <option value="true">是</option>
                            <option value="false">否</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div id="save" class="btn btn-default" data-dismiss="modal">儲存</div>
            </div>
        </div>
    </div>
</div>