<% layout('./layout') %>
<script src="/assets/item.js"></script>
<% include ./menu %>
<div id="syncitem" class="container">
    <div class="col-md-10 col-md-offset-1 text-center">
        <div v-if="syncing == false && cleaning == false" v-on:click="setting" class="btn btn-primary">修改金鑰</div>
        <div v-if="syncing == false && cleaning == false" v-on:click="clean" class="btn btn-danger">刪除所有架上商品</div>
        <div v-if="syncing == false && cleaning == false" v-on:click="sync" class="btn btn-primary">同步商品</div><br><br>
        <div>上架價格倍率：<input id="priceRate" class="text-center" type="number" value="1"> 倍</div>
        <br><br>
        <div v-if="syncing == false && cleaning == false">上次同步時間:
            <span v-if="items.length >0">{{ items[0].created_at | time }}</span>
            <span v-else>從未同步過</span>
        </div>
        <div v-else-if="cleaning == true">
            <span>刪除架上商品中</span>
        </div>
        <div v-else class="text-center">
            <template v-if="needUploadItemsAmt <= 0">
                <p>從蝦皮撈取商品資料中</p>
            </template>
            <template v-else>
                <p>同步商品中，請稍候</p>
                <p>目前已處理 {{ done }}/{{ needUploadItemsAmt }} 個商品</p>
            </template>
        </div>
    </div>
    <br><br>
    <template v-if="showreport">
        <div class="col-md-12 text-center">
            <h2 class="h2 text-center">本次同步報告</h2><br>
            <p class="text-center">蝦皮商城共有 {{ shopeeItemsAmt }} 個商品</p><br>
            <p class="text-center">共有 {{ needUploadItemsAmt }} 個需要同步</p><br>
            <p class="text-center">同步成功 {{ success }} 個</p><br>
            <p class="text-center">同步失敗 {{ fail }} 個</p><br>
            <p class="text-center">圖片上傳失敗 {{ failUploadImg }} 個</p>
            <template v-if="needUploadItemsAmt > 0 && report.length > 0">
                <h2 class="h2 text-center">本次同步商品</h2>
                <table class="table table-hover table-bordered ordertable">
                    <thead>
                        <tr>
                            <th>蝦皮ID</th>
                            <th>商品名稱</th>
                            <th>商品貨號</th>
                            <th>結果</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template v-for="detail in report">
                            <tr>
                                <td>{{ detail.shopeeItemId }}</td>
                                <td>{{ detail.productName }}</td>
                                <td>{{ detail.sku }}</td>
                                <td>{{ detail["@Status"] | status(detail["Action"]) }}</td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </template>
        </div>
    </template>
    <br><br>
    <div class="col-md-12 text-center">
        <h2 class="h2 text-center">目前同步情形</h2>
        <table class="table table-hover table-bordered ordertable">
            <thead>
                <tr>
                    <th>編號</th>
                    <th>蝦皮ID</th>
                    <th>YAHOO ID</th>
                    <th>商品名稱</th>
                    <th>商品貨號</th>
                    <th>上次同步時間</th>
                    <th>同步平台</th>
                </tr>
            </thead>
            <tbody>
                <template v-for="(item,index) in items">
                    <tr>
                        <td>{{ index+1 }}</td>
                        <td>{{ item.shopee_id }}</td>
                        <td>{{ item.yahoo_id }}</td>
                        <td>{{ item.product_name }}</td>
                        <td>{{ item.sku }}</td>
                        <td>{{ item.created_at | time }}</td>
                        <td>Yahoo</td>
                    </tr>
                </template>
            </tbody>
        </table>
    </div>
</div>

<div id="settingForm" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">金鑰設定</h4>
            </div>
            <div class="modal-body">
                <div style="color:red;">更改後請按儲存</div>
                <br>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">蝦皮Secret</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="shopeesecret">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">蝦皮Shopid</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="shopeeshopid">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">蝦皮Partnerid</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="shopeepartnerid">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Yahoo API KEY</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="yahooapikey">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Yahoo API Secret</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="yahooapisecret">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div id="save" class="btn btn-default" data-dismiss="modal">儲存</div>
            </div>
        </div>
    </div>
</div>