<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>C.P.MAX蝦皮系統</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/style.css">
  <script type="text/javascript" src="/assets/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
  <script src="/assets/ship.js"></script>
  <script type="text/javascript" src="/assets/moment.min.js"></script>
  <script type="text/javascript" src="/assets/bootstrap-datetimepicker.min.js"></script>
  <script type="text/javascript" src="/assets/toastr.min.js"></script>
  <link rel="stylesheet" href="/assets/toastr.min.css" />
  <link rel="stylesheet" href="/assets/bootstrap-datetimepicker.min.css" />
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">C.P.MAX</a>
      </div>
      <ul class="nav navbar-nav">
        <% if(me.role ==2 ){ %>
          <li><a href="/users">用戶管理</a></li>
          <% } %>
            <% if(me.inv == 1 || me.role ==2 ){ %>
              <li><a href="/inv">開立發票</a></li>
              <% } %>
                <% if(me.ship == 1 || me.role ==2){ %>
                  <li><a href="/ship">出貨管理</a></li>
                  <% } %>
                    <li><a href="/">個人資料</a></li>
                    <li><a href="/users/logout">登出</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="col-md-10 col-md-offset-1" style="text-align:center;">
      <form class="form-inline searchform">
        起始日期
        <div class="form-group">
          <div class='input-group date' id='datetimepickertf'>
            <input type='text' class="form-control" id="tf" />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
        &nbsp;&nbsp;&nbsp; 結束日期
        <div class="form-group">
          <div class='input-group date' id='datetimepickertt'>
            <input type='text' class="form-control" id="tt" />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
        <br><br><br>
        <div class="form-group">
          <label>物流篩選:</label>
          <select class="form-control" id="carrier">
            <option>否</option>
            <option>7-11</option>
            <option>全家</option>
            <option>萊爾富</option>
          </select> &nbsp;&nbsp;&nbsp;
          <label>金額多至少排序:</label>
          <select class="form-control" id="orderamount">
            <option>否</option>
            <option>是</option>
          </select>&nbsp;&nbsp;&nbsp;
          <label>統計商品數量:</label>
          <select class="form-control" id="itemscount">
            <option>否</option>
            <option>是</option>
          </select>
          <br><br>
          <h1 class="text-center" style="color:red;">若有使用篩選或排序會耗費較多時間查詢</h1>
        </div>
        <div class="col-md-10 col-md-offset-1" style="margin-top:30px;text-align:center;">
          <div id="search" class="btn btn-primary">查詢</div>
          <div id="setting" class="btn btn-primary">修改金鑰</div>
          <div id="itemsdetail" class="btn btn-primary" style="display:none;">統計商品數量</div>
          <div id="exportitemsdetail" class="btn btn-primary" style="display:none;">匯出Excel</div>
        </div>
      </form>
    </div>
    <div class="col-md-12" style="padding-top:10px;">
      <div class="text-center hint" style="display:none;">資料讀取中</div>
      <div class="col-md-1 col-md-offset-5" style="text-align:center;">
        <div class="form-group">
          <select class="form-control" id="pageTop" style="display:none;"></select>
        </div>
      </div>
      <table class="table table-hover table-bordered ordertable">
        <thead>
          <tr>
            <th>項次</th>
            <th>訂單編號</th>
            <th>更新時間</th>
            <th>訂單狀態</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody id="orderlist">
        </tbody>
      </table>
      <div class="text-center  hint" style="display:none;">資料讀取中</div>
      <div class="col-md-1 col-md-offset-5" style="margin-bottom:50px;">
        <div class="form-group">
          <select class="form-control" id="pageBot" style="display:none;">
          </select>
        </div>
      </div>
    </div>
  </div>
  <div id="orderDetail" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">訂單資料</h4>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <div class="btn btn-default" data-dismiss="modal">關閉</div>
        </div>
      </div>
    </div>
  </div>

  <div id="items" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">商品資料</h4>
        </div>
        <div class="modal-body">
          <table class="table table-hover table-bordered ordertable">
            <thead>
              <tr>
                <th>項次</th>
                <th>名稱</th>
                <th>貨號</th>
                <th>單價</th>
                <th>尺寸/顏色</th>
                <th>數量</th>
              </tr>
            </thead>
            <tbody id="itemlist">
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <div class="btn btn-default" data-dismiss="modal">關閉</div>
        </div>
      </div>
    </div>
  </div>

  <div id="settingForm" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">金鑰設定</h4>
        </div>
        <div class="modal-body">
          <div style="color:red;">更改後請按儲存</div><br>
          <form class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-2 control-label">蝦皮Secret</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="shopeesecret">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">蝦皮Shopid</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="shopeeshopid">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword3" class="col-sm-2 control-label">蝦皮Partnerid</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="shopeepartnerid">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">智付寶商店代號</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="paytwogoid">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">智付寶HashKEY</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="paytwogohashkey">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">智付寶IV</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="paytwogohashiv">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <div id="save" class="btn btn-default" data-dismiss="modal">儲存</div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
