<% layout('../layout') %>
<% include ../menu %>
<div class="container">
    <div class="col-md-4 col-md-offset-4" style="margin-top:50px;">
        <p class="h2">匯入批次開立發票回傳檔</p><br><br>
        <p class="h5 text-center" style="color:red;"><%= message %></p><br><br>
        <form id="uploadForm" action="/invoice/import" method="post" enctype="multipart/form-data">
            <label for="type">檔案：</label><br><br>
            <input type="file" name="importData" id="importData">
        </form>
        <br><br>
        <div id="submit" class="btn btn-primary">上傳</div>
        <div id="hint" class="h4" style="display:none;text-align:center;">匯入中...</div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#submit').on('click', function() {
            if ($("#importData").val() != "") {
                var file = $("#importData")[0].files[0];
                if (["application/csv", "application/vnd.ms-excel", "text/csv", "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"].indexOf(file.type) == -1) {
                    alert('不支援此檔案格式');
                    return
                }
                $('#uploadForm').submit();
                $('#hint').show();
            }
        });
    });
</script>